/* CSS Global */

@font-face {
  font-family: 'Mpsb';
  src: url('fonts/MyriadPro-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: #191919;
  font-family: 'Roboto';
  color: white;
}

h3, h4 {
  font-family: 'Mpsb',sans-serif;
  color: white;
}

h3
{
  margin-bottom: 10%;
}
h4 {
  margin-bottom: 2%;
}

h5 {
  font-size: 1.5rem;
}

a {
  color:#f8f8f8;
}
a:hover {
    color: #5f5e5e;
}


/* NavBar */

#photoProfil {
  width: 200px;
  border: 5px solid white;
  margin-left: 50px;
}

#navBar {
  background-color: white !important;
  font-size: 2rem;
}

#navBar a {
  color: #191919;
}

.nav-link {
  margin-right: 50px;
  width: 200px;
  text-align: center;
}

.nav-link:hover {
  color: white !important;
  background-color: #191919;
}

#titrePage {
  margin-left: 275px;
  font-family: 'Mpsb';
  font-size : 2rem;
}


/* CSS PARCOURS */
#sectionParcours {
  margin-bottom: 200px;
  margin-top: 250px;


}
.chemin{
    background-color: #262626;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 5px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #000 ;
  max-height: 50px;
  z-index: 2;
  box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.2);
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #fff;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.col-2.foufull::after {
  height: 100%;
  left: calc(50%);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #fff;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #fff;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

#sectionParcours p, #sectionParcours h5 {
  color: #fff;
}
#sectionParcours p {
  font-family: 'Roboto', sans-serif;
}

/*Modal*/
.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
}

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

/* CSS COMPETENCES */

#sectionCompetence {
  background-color: #262626;
  padding-bottom: 150px;
  padding-top: 150px;

}
.allcompetence{
    background-color: #191919;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 5px;
}
.skills {
  background-color: rgba(255,255,255,0.3);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 0px 8px rgba(255,255,255,0.2);
}

.skills h5 {
  font-family: 'Mpsb',sans-serif;
  color:black;
}
.skills p {
  color:black;
}
.skills:hover {
  background-color: #fff;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 0px 8px rgba(255,255,255,0.3);
}

.adjust {

  height: 100px;
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;

}

/* CSS hobbies */

#sectionHobbies {
  padding-bottom: 150px;
  padding-top: 150px;
  background-color: #191919;
}

.allhobbie{
    background-color: #262626;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 5px;
}


.hobbies {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.imghobbie {
  width: 200px;
  height:200px;
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  z-index: -1;
  box-shadow: 0px 0px 0px 8px rgba(255,255,255,0.3);
}
.imghobbie:hover {
  opacity: 0.5;
}
.txthobbie {
  position: absolute;
  width: 150px;
  display: inline-block;
  margin-bottom:  100px;
  margin-top: 125px;
  left: 50%;
  transform: translate(-50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  font-family: "Mpsb";
  font-size: 1.5rem;
  color:white;
  text-align: center;
}


/*Footer*/

footer {
    background-color: white;
    font-family: 'Roboto';
    text-align: center;
}

footer .link {
    color: black ;
    text-decoration: none;
    font-weight: bold;
}


footer a:hover {
    text-decoration:none;
}

footer a:visited {
    font-color: black;
    text-decoration: none;
}

footer .fa {
    color: black;
}

footer img {
    width: 15px;
    height: 15px;
    margin-bottom: 1.3%;
}




/* Responsive Options */

@media (max-width: 1550px) {
  
  .nav-link {
  margin-right: 50px;
  width: 150px;
  font-size: 1.5rem;
}

}

@media (max-width: 1250px) {
  
  .nav-link {
  margin-right: 25px;
  width: 150px;
  font-size: 1.3rem;
}

  #sectionBio img {
    display: none;
  }

@media (max-width: 1100px) {
  
  .nav-link {
  margin-right: 25px;
  width: 70px;
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  
  .nav-link {
  font-size: 1.5rem;
  text-align: left;
}

  #titrePage {
    margin-left: 0px;
  }

  #photoProfil {
    display: none;
  }

}


